@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root {  
  /* Colors */
  --color-primary: #9F30B0;
  --color-primary-1: #CB13FF;
  --color-primary--1: #38223C;

  --color-dark: #121212;
  --color-dark-1: #1E1E1F;
  --color-grey: #383838;
  --color-grey-1: #8C8C8D;

  --color-light: #F6F6F6;
  --color-light--1: #C0C0C0;
  --color-light-1: #E9F5FE;
  --jet: hsl(0, 0%, 22%);

  /* Fonte */
  --font-family: "Open Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-dark);
  font-family: var(--font-family);
}

.layout {
  display: flex;
  gap: 3.75rem;
}

.container-router {
  background-color: var(--color-dark-1);
  width: 59.625rem;
  height: 50.125rem;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  position: relative;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .container-router {
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .container-router {
    padding: 1rem;
  }

  body {
    height: auto;
    padding: 1rem;
  }

  .layout {
    flex-direction: column;
    gap: 1rem;
  }
}