.section-home {
    display: flex;
    justify-content: center;
    align-items: center;

    .container-about {
        display: flex;
        flex-direction: column;
        gap: 2.75rem;
        width: 53.125rem;
        max-height: 45rem;
        margin-top: 2.563rem;
    }

    .about {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;

        .about-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            .about-title {
                color: var(--color-light);
                font-weight: var(--font-weight-semibold);
                font-size: 1.5rem;
            }
            
            .download-cv {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: var(--color-light-1);
                color: var(--color-grey);
                padding: 0.625rem 0.875rem;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: opacity 0.3s ease;
                gap: 0.625rem;
            }
    
            .download-cv a {
                text-decoration: none;
                color: var(--color-grey);
                font-size: 0.875rem;
                font-weight: var(--font-weight-regular);
                font-family: var(--font-family);
            }
    
            .download-cv:hover {
                opacity: 0.7;
            }
        }

        .about-content {
            color: var(--color-light--1);
            font-size: 1rem;
            font-weight: var(--font-weight-regular);
        }
        
        .about-content p {
            margin-bottom: 1.25rem;
        }

        .about-skills {
            display: flex;
            flex-direction: row;
            gap: 0.875rem;
        }

        .about-skills span {
            border-radius: 8px;
            padding: 0.625rem 0.875rem;
            background-color: var(--color-primary--1);
            font-weight: var(--font-weight-semibold);
            font-size: 1rem;
            color: var(--color-light--1);
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.875rem;
        padding-bottom: 2rem;

        .projects-header {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .title {
                color: var(--color-light);
                font-weight: var(--font-weight-semibold);
                font-size: 1.5rem;
            }

            .group {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .subtitle {
                    color: var(--color-light--1);
                    font-size: 1rem;
                    font-weight: var(--font-weight-regular);
                }

                .all {
                    color: var(--color-light--1);
                    font-size: 1rem;
                    font-weight: var(--font-weight-regular);
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    transition: opacity 0.3s ease;
                }

                .all:hover {
                    opacity: 0.7;
                }

                .all i {
                    margin-left: 0.5rem;
                }
            }
        }

        .projects-details {
            width: 100%;
            height: auto;
        }
        
        .slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 10px;
            padding-left: 10px;
            width: 80%;
        }
        
        .image-placeholder img {
            width: 100%;
            height: auto;
            border-radius: 4px;
        }
        
    }
}

@media (max-width: 768px) {
    .section-home {
        .container-about {
            width: 80%;
            max-height: none; 
            margin-top: 1.5rem;
            margin-bottom: 2rem;
        }

        .about {
            .about-skills {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
            }
    
            .about-skills span {
                border-radius: 8px;
                padding: 0.625rem 0.875rem;
                background-color: var(--color-primary--1);
                font-weight: var(--font-weight-semibold);
                font-size: 1rem;
                color: var(--color-light--1);
                white-space: nowrap;
            }

            .about-header {          
                .download-cv {
                    padding: 0.4rem 0.6rem;
                }
            }
        }
    }
}
