.tabs {
  margin-bottom: 20px;
}

.tabs button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-text-title-about);
  font-size: 0.938rem;
  margin-right: 0.938rem;
  font-weight: 500;
}

.tabs .active {
  color: var(--color-text-primary);
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 2.063rem;
}

.project-card {
  position: relative;
  gap: 0.5rem;
  text-align: left;
  margin-bottom: 1.688rem;
  margin-right: 3.468rem;
}

.project-image {
  position: relative;
  overflow: hidden;
  width: 14.563rem;
  height: 10.988rem;
  border-radius: 10px;
  background-color: var(--color-text-title);
  margin-bottom: 0.775rem;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-image:hover img {
  transform: scale(1.05);
}

.project-title {
  font-size: 0.813rem;
  margin-bottom: 0.3rem;
  color: var(--color-title-projects);
  font-weight: bold;
  max-width: 14.563rem;
  text-align: left !important;
}

.project-date {
  font-size: 0.813rem;
  color: var(--color-subtitle-projects);
  font-weight: bold;
  max-width: 14.563rem;
  text-align: left !important;
}

.portfolio-description {
  font-size: 1rem;
  color: var(--color-text-experience);
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay i {
  background-color: var(--color-background-button);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 15px;
  border-radius: 6px;
  color: var(--color-text-primary);
}

.project-eye {
  font-size: 30px;
  color: var(--color-text-title);
  cursor: pointer;
}

.project-title,
.project-date {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: none;
  color: var(--color-text-title);
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s;
  background-color: transparent;
}

.pagination button:hover {
  background-color: var(--color-text-primary);
  color: var(--color-text-title);
}

.pagination button.active {
  background-color: var(--color-text-primary);
  color: var(--color-text-title);
  font-weight: bold;
}
