.section-project {
  display: flex;
  justify-content: center;
  margin-top: 2.563rem;
}

.container-project {
  display: flex;
  flex-direction: column;
  width: 53.125rem;
  max-height: 45rem;
}

.projects-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.projects-title h1{
  color: var(--color-light);
  font-weight: var(--font-weight-semibold);
  font-size: 1.5rem;
}

.projects-title h2{
  color: var(--color-light--1);
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.125rem;
  margin-top: 1.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 15.625rem;
  height: 16.063rem;
  border: 1px solid var(--color-grey);
  border-radius: 8px;
}

.project-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 9.875rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
  background-color: var(--color-light);
}

.project-image:hover img {
  transform: scale(1.05);
}

.project-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0px 0.875rem;
}

.project-title h1 {
  font-size: 0.875rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-light);
}

.project-title h2 {
  font-size: 0.75rem;
  font-weight: var(--font-weight-regular);
  color: var(--color-grey-1);
}

.project-title h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.see-more {
  font-size: 0.813rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary-1);
  margin: 1rem 0 0.875rem 0.875rem;
  cursor: pointer;
}

.see-more span{
  margin-right: 8px;
}

.see-more:hover {
  opacity: 0.7;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;
}

.overlay i {
  background-color: var(--color-dark-1);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 15px;
  border-radius: 6px;
  color: var(--color-primary);
}

.project-eye {
  font-size: 30px;
  color: var(--color-grey);
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: none;
  color: var(--color-light);
  padding: 8px 12px;
  margin: 10px 4px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s;
  background-color: transparent;
}

.pagination button:hover {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.pagination button.active {
  background-color: var(--color-primary);
  color: var(--color-light);
  font-weight: bold;
}

@media (max-width: 768px) {
  .container-project {
    width: 80%;
    max-height: none; 

  }
}